/* base.css */
html,
body {
  width: 100%;
  background-color: #181818; /* Dark background for the overall page */
  color: #ffffff; /* Default text color set to white for contrast */
  padding: 0;
  margin: 0;
}

/* Add styles for inputs to ensure they are visible */
input,
textarea,
select,
button {
  color: white; /* Dark text for inputs for visibility */
  background-color: #ffffff; /* Light background for inputs */
  /* ... other styles for form elements ... */
}

/* You can also add a class for the text field to ensure it has a visible color */
.text-field-custom {
  color: white; /* Dark text color for visibility */
  /* ... other styles for .text-field-custom ... */
}
