@import "./base.css";

#app {
  width: 100%;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}
*{
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  color: var(--colour-text);
  background: var(--colour-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    'Segoe UI',
    Roboto,
    Ubuntu,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  color: var(--colour-background);
  background-color: var(--colour-interactable);
  border-radius: 0.25em;
  padding: 0.5em 1em 0.5em 1em;
  font-weight: bold;
  border: none;
}
button:hover {
  background-color: var(--colour-interactable-hover);
}
button:active {
  background-color: var(--colour-interactable-click);
}

@media (min-width: 1024px) {
}